.main-register{
    width: 40%;
    height: 600px;
    background-color: #ffffff;
    float: left;
    margin: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:
            1.1px 1.8px 1.9px rgba(0, 0, 0, 0.019),
            2.9px 4.4px 4.7px rgba(0, 0, 0, 0.024),
            5.8px 9px 9.6px rgba(0, 0, 0, 0.027),
            12px 18.6px 19.7px rgba(0, 0, 0, 0.03),
            33px 51px 54px rgba(0, 0, 0, 0.04);

}