<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="/depot/css/share.css">
</head>
<body class="body">
<div class="nav">
    <div class="nav-centre">
        <a href="/">首页</a>
        {{if eq .S  "未登录"}}
            <a href="/login">登录</a>
            <a href="/register">用户注册</a>
            <a href="/registerSeller">商户注册</a>
        {{else}}
            {{if eq .S  "买家"}}
                <a href="/LoginOut">注销</a>
                <a href="/registerSeller">商户注册</a>
                <a href="/buyer">我的订单</a>
            {{else}}
                <a href="/LoginOut">注销</a>
                <a href="/register">个人用户注册</a>
                <a href="/seller">我的订单</a>
            {{end}}

        {{end}}
    </div>
</div>
<div class="main">
  <div class="form">
      <form action="/login" method="post">
          <label>手机号码：</label>
          <input class="itxt",type="text" placeholder="请输入用户名" autocomplete="off" tabindex="1" name="phone">
          <br>
          <label>用户密码</label>
          <input class="itxt" type="password" placeholder="请输入密码" name="password">
          <br>
          <input type="submit" value="登录" id="sub_btn">
          <span>{{.Err}}</span>
          <a href="/">主页</a>
      </form>
  </div>
</div>
</body>
</html>