<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="/depot/css/share.css">
</head>
<body class="body">
<div class="nav">
    <div class="nav-centre">
        <a href="/">首页</a>
        {{if eq .InfoP.S  "未登录"}}
            <a href="/login">登录</a>
        {{else}}
            {{if eq .InfoP.S  "买家"}}
                <a href="/LoginOut">注销</a>
                <a href="/registerSeller">商户注册</a>
                <a href="/buyer">我的订单</a>
            {{else}}
                <a href="/LoginOut">注销</a>
                <a href="/register">个人用户注册</a>
                <a href="/seller">我的订单</a>
            {{end}}

        {{end}}
    </div>
</div>
<div class="main">
<p1>订单详情</p1>
<form name="order" action="/play?orderId={{.Id}}" method="post">
    <span><img src="{{.OneBook.ImgPath}}" width="100" height="100"></span>
    <br>
    <span>{{.OneBook.Title}}</span>
    <br>
    <span>价格：{{.AllPrice}}</span>
    <br>
    <span>下单时间：{{.CreateTime}}</span>
    <br>
    {{if eq .State 0}}
        <span>订单状态：待支付</span>
    {{end}}
    {{if eq .State 1}}
        <span>订单状态：已支付</span>
    {{end}}
    {{if eq .State 2}}
        <span>订单状态：已发货</span>
    {{end}}
    <br>
    <input type="submit" value="支付" name="play">
</form>
</div>
</body>
</html>